@use 'reset';
@use 'variables/global';
@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap';

.app {
    font: var(--font-m);
    background-color: var(--background);
    min-height: 100vh;
    color: var(--black);
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--white);
}

*::-webkit-scrollbar-thumb {
    background-color: #d5d4d6;
    border-radius: 20px;
    border: 1px solid var(--white);
}
