.normal {
    .title {
        color: var(--black);
    }

    .text {
        color: var(--black);
    }
}

.succes {
    .title {
        color: var(--primary);
    }

    .text {
        color: var(--primary);
    }
}

.error {
    .title {
        color: var(--red);
    }

    .text {
        color: var(--red);
    }
}

.grey {
    .title {
        color: var(--grey);
    }

    .text {
        color: var(--grey);
    }
}

.greyLight {
    .title {
        color: var(--grey-light);
    }

    .text {
        color: var(--grey-light);
    }
}

.white {
    .title {
        color: white;
    }

    .text {
        color: white;
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.sizeXxs {
    .title {
        font: var(--font-xs);
    }

    .text {
        font: var(--font-xxs);
    }
}

.sizeXs {
    .title {
        font: var(--font-s);
    }

    .text {
        font: var(--font-xs);
    }
}

.sizeS {
    .title {
        font: var(--font-m);
        font-weight: 600;
    }

    .text {
        font: var(--font-s);
    }
}

.sizeM {
    .title {
        font: var(--font-l);
        font-weight: 600;
    }

    .text {
        font: var(--font-m);
    }
}

.sizeL {
    .title {
        font: var(--font-xl);
        font-weight: 600;
    }

    .text {
        font: var(--font-l);
    }
}

.bold {
    .title,
    .text {
        font-weight: 700;
    }
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
