.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 8px;
    white-space: nowrap;
    position: relative;
    outline: none;
    border: none;
}

.filled {
    color: var(--white);
    background: var(--black);

    &:hover {
        opacity: 0.8;
    }
}

.primary {
    color: var(--white);
    background: var(--primary);

    &:hover {
        opacity: 0.8;
    }
}

.outline {
    background: none;
    border: 1px solid var(--grey-light);
    color: var(--black);

    &:hover {
        border: 1px solid var(--black);
    }
}

.disabled {
    opacity: 0.5;
}

.checkCircle {
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: '';
        width: 6px;
        height: 6px;
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        transform: rotate(-45deg);
        position: absolute;
        top: 4px;
        right: 5px;
    }
}

.m {
    padding: 14px 24px;
    font: var(--font-m);
    font-weight: 600;
}

.l {
    padding: 17px 20px;
    font-size: 16px;
    font-weight: 600;
}

.addonRight {
    display: flex;
}

.maxWidth {
    width: 100%;
}

.select {
    background: var(--background);
    height: 56px;
    font: var(--font-m);
    color: var(--grey);
    padding: 18px 16px;
    justify-content: space-between;
}
