.newAdPage {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

@media (width <= 576px) {
    .newAdPage {
        padding: 24px 24px 32px;
    }

    .pageWrapper {
        gap: 32px;
    }

    .buttons {
        flex-direction: column;
    }

    .submitButton {
        width: 100%;
        justify-content: center;
    }
}
