.adBlock {
    margin-bottom: 24px;
    align-items: flex-start;
}

.left {
    width: 100%;
    max-width: 220px;
    min-height: 56px;
    align-content: center;
}

.right {
    position: relative;
    max-width: 580px;
}
