.textBlock {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    max-width: 480px;
    background: var(--background);
    height: 100%;
    font: var(--font-m);
    flex-direction: row-reverse;
}

.textArea {
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    background: none;

    &:focus {
        outline: none;
    }
}

.focused {
    border: 1px solid var(--primary);
}

.placeholder {
    display: flex;
}

.required {
    .placeholder::after {
        content: '*';
        color: var(--red);
        margin-left: 5px;
    }
}

.textArea:focus + .placeholder {
    display: none;
}
